.app {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  border: 2px solid black;
  height: 100%;
  background-color: #111828;
  color: white;
  font-size: 20px;
}
.appContainer {
  display: flex;
  width: 98.5%;
  margin-left: 10%;
}
.appContainerSmall {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  font-size: 20px;
  height: 80px;
  background-color: #28527a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar h2 {
  padding-left: 3%;
  padding-right: 3%;
}

.skills {
  height: 130px;
  width: 77%;
  text-align: center;
  background-color: #28527a;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 23px;
}
.skills h2 {
  padding-top: 0px;
  font-size: 24px;
}
.skills p {
  font-size: 18px;
}

.hero {
  height: 310px;
  width: 40%;
  display: flex;
  background-color: #28527a;
  border-radius: 5px;
  margin-top: 20px;
}

.illustration {
  width: 80%
}

.heroLeft {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  padding-top: 10px;
}

.heroLeft img {
  border-radius: 50%;
  width: 85%;
}

.heroRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1%;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
}

.heroRight h2 {
  text-align: center;
  font-size: 24px;
}
.heroRight span {
  font-size: 17px;
  text-align: left;
}
.feature {
  height: 430px;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #28527a;
  border-radius: 5px;
}

.feature h2 {
  padding-top: 15px;
  font-size: 24px;
}

.featureCardDisplay {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.feature a {
  font-size: 20px;
}
.featureCard p {
  text-align: center;
  padding-left: 10px;
}

.featureHeader p {
  font-size: 20px;
}
.featureCard {
  height: 10vh;
  width: 40%;
  background-color: #111828;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
  border-radius: 2px;
  padding: 10px;
}

.contact {
  height: 160px;
  width: 77%;
  margin-left: 25px;
  background-color: #28527a;
  border-radius: 5px;
}

.contact h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 24px;
}

.contactCardDisplay {
  display: flex;
  justify-content: space-between;
  height: 75%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.contactCard {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  font-size: 20px;
  padding-left: 15px;
}
.contactTitle {
  display: flex;
 align-items: center;
}

.testimonial {
  width: 80%;
  background-color: #28527a;;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
}
.testimonial h2 {
  padding-top: 15px;
  font-size: 24px;
}
.testimonial p {
  padding-left: 20px;
  padding-right: 20px;

  text-align: left;
}

a {
  color: white;
}
.quote {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.quoteAuthor {
  font-size: 17px;
}
