.app {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  border: 2px solid black;
  height: 100%;
  margin-left: 5%;
  background-color: rgb(11, 25, 65);
  color: white;
  font-size: 20px;
  
}

.navbar {
  height: 10%;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-size: 17px;
}

.skills {
  height: 11vh;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #648183;
  border-radius: 5px;
  margin-top: 20px;
}
.skills h2 {
  padding-top: 10px;
}

.hero {
  height: 25%;
  width: 80%;
  margin: auto;
  display: flex;
  background-color: rgb(17, 120, 216);
  border-radius: 5px;
}

.illustration {
  width: 80%
}

.heroLeft {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  padding-top: 10px;
}

.heroLeft img {
  border-radius: 50%;
}

.heroRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3%;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
}

.heroRight h2 {
  text-align: center;
}
.heroRight span {
  font-size: 20px;
  text-align: left;
}
.feature {
  height: 40vh;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color:  rgb(17, 120, 216);
  border-radius: 5px;
}

.feature h2 {
  padding-top: 10px;
}

.featureCardDisplay {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.feature a {
  font-size: 20px;
}
.featureCard p {
  text-align: left;
  padding-left: 10px;
}


.featureCard {
  border: 2px solid black;
  height: 10vh;
  width: 40%;
  background-color: #648183;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
}

.contact {
  height: 15vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #648183;
  margin-top: 20px;
  border-radius: 5px;
}

.contact h2 {
  text-align: center;
  padding-top: 10px;
}

.contactCardDisplay {
  display: flex;
  justify-content: space-between;
  height: 75%;
  margin-top: -5px;
}
.contactCard {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  font-size: 20px;
}
.contactTitle {
  display: flex;
 align-items: center;
}

.testimonial {
  width: 80%;
  background-color: rgb(17, 120, 216);
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
}
.testimonial h2 {
  padding-top: 10px;
}
.testimonial p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

a {
  color: white;
}
.quote {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.quoteAuthor {
  font-size: 17px;
}